* {
    margin: 0;
    padding: 0;
}



body {
    background: url(./img/galaxy\ walper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.earth-box {
    text-align: center;
    margin-top: 300px;
}

.earth-box img {
    width: 350px;
}

.man {
    width: 200px;
    position: absolute;
    top: 100px;
    left: 600px;
    animation: man 20s linear infinite;
}

.mars {
    animation: earth 15s linear infinite;
}

.earth {
    width: 200px;
    position: absolute;
    top: 150px;
    left: 600px;
    animation: earth 15s linear infinite;
}

.raceta {
    width: 300px;
    position: absolute;
    top: 400px;
    animation: man 20s linear infinite;
}



    @keyframes mars {
        to {
            transform: rotate(360);
        }
    }

    @keyframes earth {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes man {
        10% {
            transform: translateX(100px);
        }

        35% {
            transform: translateY(50px)
        }

        50% {
            transform: translateX(280px) width: 100px;

        }

        75% {
            transform: transateY(500px)
        }

    }